/* Общие стили */
body {
  margin: 0;
  font: 12px "Montserrat", sans-serif;
  font-weight: 500;
}

.container,
.container-big {
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Стили шапки сайта */
.main-header {
  padding: 50px 10px;
  background-image: url(../img/Main-bg.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ece7ec;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list__link,
.phone-number {
  color: #8b7eac;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0px 0px 20px #ece7ec;
}

.phone-number {
  font-weight: 500;
}

/* Иконка меню в обычном состоянии */
.burger-menu {
  display: flex;
  width: 60px;
  align-items: center;
  justify-content: center;
}

.burger-icon {
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  background-color: #f2f2f2;
  transition-delay: 0.25s;
  transition-duration: 0.25s;
}

.burger-icon::before,
.burger-icon::after{
  position: absolute;
  display: block;
  width: 30px;
  height: 3px;
  content: "";
  background-color: #f2f2f2;
  transition-duration: 0.25s;
	transition: transform 0.25s, top .25s .25s;
}

.burger-icon::before {
  top: -10px;
}

.burger-icon::after {
  top: 10px;
}

/* Иконка меню после нажатия - открытое меню */
.burger-menu.open .burger-icon {
  transition-duration: 0.1s;
	transition-delay: .25s;
  background: transparent;
  transform: rotate(-180deg);
}

.burger-menu.open .burger-icon::before {
  transition: top .25s, transform .25s 0.25s;
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu.open .burger-icon::after {
  transition: top 0.4s, transform .25s 0.25s;
  top: 0;
  transform: rotate(45deg);
}


/* Устройства Small (телефоны с горизонтальной ориентацией, 576 пикселей и выше) */
@media screen and (min-width: 576px) {
  .nav-list,
  .nav-list.expand {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 10px;

  }
  .burger-menu {
    display: none;
  }
  .container, 
  .container-big {
    max-width: 540px;
  }
}



/*  Устройства Medium (планшеты, 768 пикселей и выше) */
@media screen and (min-width: 768px) {
  .nav-list,
  .nav-list.expand {
    gap: 20px;
  }
  .container, 
  .container-big {
    max-width: 720px;
  }
}

/*  Устройства Large (настольные компьютеры, 992 пикселей и выше) */
@media screen and (min-width: 992px) { 
  .nav-list,
  .nav-list.expand {
    gap: 30px;
  }
  .container, 
  .container-big {
    max-width: 960px;
  } 
}

/*  Устройства X-Large (большие настольные компьютеры, 1200 пикселей и выше) */
@media screen and (min-width: 1200px) { 
  .container{
    min-width: 1010px;
  }
  .container-big{
    max-width: 1160px;
  } 
}