/* 
Общие стили и служебные классы 
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

*:focus {
	outline: #a095b7 solid 2px;
}

body {
	margin: 0;
	font-family: "Montserrat", "Arial", sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: #8e80a9;
	background-image: url(../img/Main-bg.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #000000;
}

.container,
.container-big {
	min-width: 280px;
	margin: 0 auto;
	box-sizing: border-box;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0 none;
	clip-path: inset(100%);
}

/* 
Стили шапки сайта 
*/
.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.logo {
	width: 90px;
	height: 35px;
}

.nav-list {
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-list--expand {
	display: block;
	position: absolute;
	top: 55px;
	right: 0;
	left: 0;
	text-align: center;
	background-color: #dbceec;
}

.nav-list__link,
.phone-number {
	display: inline-block;
	padding: 10px 5px;
	color: #8b7eac;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0px 0px 20px #ece7ec;
	white-space: nowrap;
}

.nav-list__link:hover,
.nav-list__link:focus {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 4px;
}

.nav-list__link--active,
.nav-list__link--active:hover, 
.nav-list__link--active:focus {
	background-color: #8b7eac;
	border-radius: 4px;
	color: #ece7ec;
}

.nav-list__link--active:focus {
	outline: #a095b7 solid 2px;
}


/* 
Иконка меню в обычном состоянии 
*/
.burger-menu {
	width: 50px;
	padding: 16px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.burger-icon {
	position: relative;
	display: block;
	width: 30px;
	height: 3px;
	background-color: #8b7eac;
	transition-delay: 0.25s;
	transition-duration: 0.25s;
	border-radius: 2px;
}

.burger-icon::before,
.burger-icon::after {
	position: absolute;
	display: block;
	width: 30px;
	height: 3px;
	content: "";
	background-color: #8b7eac;
	transition-duration: 0.25s;
	transition: transform 0.25s, top 0.25s 0.25s;
	border-radius: 2px;
}

.burger-icon::before {
	top: -10px;
}

.burger-icon::after {
	top: 10px;
}

/* 
Иконка меню после нажатия - открытое меню 
*/
.burger-menu--open .burger-icon {
	transition-duration: 0.1s;
	transition-delay: 0.25s;
	background: transparent;
	transform: rotate(-180deg);
}

.burger-menu--open .burger-icon::before {
	transition: top 0.25s, transform 0.25s 0.25s;
	top: 0;
	transform: rotate(-45deg);
}

.burger-menu--open .burger-icon::after {
	transition: top 0.4s, transform 0.25s 0.25s;
	top: 0;
	transform: rotate(45deg);
}

/* 
Стили промоблока 
*/
.promo {
	min-height: 710px;
	background-color: #444444;
}

.promo__text {
	margin: 0;
	font-family: "Caveat", "Arial", sans-serif;
	font-weight: normal;
	font-size: 45px;
	line-height: 60px;
}

.promo__title {
	margin: 0;
	font-size: 265px;
	line-height: 265px;
	letter-spacing: 0.2em;
	color: #ffffff;
	text-transform: uppercase;
	text-shadow: 0px 0px 50px rgba(123, 121, 161, 0.75);
}

.promo__link {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: #e65c7b;
	text-decoration: none;
}

.promo__link::before {
	content: "";
	width: 56px;
	height: 48px;
	margin-right: 10px;
	background-color: #e65c7b;
	background-image: url(../img/Vector.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.social {
	display: flex;
	justify-content: space-between;
}

.social__list {
	display: flex;
	justify-content: space-between;
	width: 50px;
	margin: 0;
	padding: 0;
	list-style: none;
}





/*  
Устройства Medium (планшеты, 768 пикселей и выше) 
*/
@media screen and (min-width: 768px) {
	.container,
	.container-big {
		max-width: 720px;
	}
	.main-nav {
		padding: 20px 0;
	}
	.burger-menu {
		display: none;
	}
	.nav-list {
		display: flex;
		flex-wrap: wrap;
		flex-shrink: 10;
		align-items: center;
		order: -1;
	}
	.nav-list--expand {
		position: relative;
		top: 0;
		background-color: transparent;
	}
	.logo {
		order: -2;
		width: 90px;
	}
}

/*  
Устройства Large (настольные компьютеры, 992 пикселей и выше) 
*/
@media screen and (min-width: 992px) {
	.container,
	.container-big {
		max-width: 960px;
	}
	.logo {
		width: 98px;
		height: 38px;
	}
	.nav-list__link,
	.phone-number {
		font-size: 14px;
		padding: 10px;
	}
	.main-nav {
		padding: 40px 0;
	}
}

/*  
Устройства X-Large (большие настольные компьютеры, 1200 пикселей и выше) 
*/
@media screen and (min-width: 1200px) {
	.container {
		max-width: 1010px;
	}
	.container-big {
		max-width: 1160px;
	}
	.logo {
		width: 126px;
		height: 48px;
	}
	.nav-list__link,
	.phone-number {
		font-size: 16px;
		font-weight: 600;
		padding: 14px 15px;
	}
	.main-nav {
		padding: 51px 0;
	}
}
